<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>最新</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>活动</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>赛事</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>视屏</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>官方</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>攻略</string>
		<key>isSelect</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>收藏</string>
		<key>isSelect</key>
		<false/>
	</dict>
</array>
</plist>
